body {
    max-width: 960px;
    margin-left:150px;
    font-size: 16px;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}
.rightNav{
    float:right;
    font-size: 20px;
    font-weight: 100;
    background-color:lightblue;
}

.myName{
    height: 100px;
    width: 350px;
    line-height: 100px;
    float:left;
    text-align: center;
    color: darkslateblue;
    background-color: rgb(233, 245, 179);
    font-size:34px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.topHead{
    background-color: lightblue;
    height:100px;
    width: 100%;
    /* position: fixed; */
    border-bottom: 2px solid gray;
}

nav {
    float: right;
    margin-top: 25px;
}
nav a {
    color: darkslateblue;
    display: inline-block;
    line-height: 20px;
}

.container{
    background-color: lightblue;
}

h1, h2, h3, p {
    margin-bottom: 20px;
}
p:last-child {
    margin-bottom: 0;
}
h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #4aaaa5;
}
h1 {   
    font-size: 30px;
    line-height: 50px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 20px;
}
h2, h3 {
    font-size: 22px;
}

.portfolioImage
{
    width: 200px;
    height: 200px;
    float:left;
    padding-right: 20px;
    padding-bottom: 20px;
}

footer {
    /* position:fixed; */
    /* bottom:0; */
    /* text-align: center; */
    /* width: 100%; */
    color: white;
    background: gray;
    /* padding: 30px 0; */
    clear: both;
    border-top: 3px solid lightgreen;
    font-size: 12px;
    text-align: center;
}

/* unable to style the personalInfo class in Contact and many classes in Portfolio files: VS Code kept telling
 me "Do not use empty rulesets" */
/*  contact  */

label
input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
    height: 200px;
}
input[type=submit] {
    background-color: blue;
    color: white;
    font-size: 20px;
    cursor: pointer;
}


